<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo2_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo2_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialPuig"
        tools:targetApi="31">
        <activity
            android:name=".Activity.NuevaListaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ListasActivity"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2"/>
        <activity
            android:name=".Activity.DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NewPostActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityPedidoFinalizado"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.Activity_Tramitando_Pedido"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.Activity_Direcciones_Envio"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.Activity_Comprar"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.Activity_Metodos_Pago"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".Activity.TiendaActivity"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SocialPuig2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInFragment"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2">

            <!--
            intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
        </activity>
        <activity
            android:name=".SignOutFragment"
            android:exported="false"
            android:theme="@style/Theme.SocialPuig2">

            <!--
            intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.SocialPuig2">

            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
        </activity>
    </application>

</manifest>